{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parserOptions": { "ecmaVersion": 2016, "sourceType": "module" },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  },
  "ignorePatterns": ["dist/", "examples/**/*.js"],
  "env": {
    "node": true,
    "browser": true
  }
}
